@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.App {
  text-align: center;
  background-color: rgb(34, 64, 119);
  width: 100%;
  height: 100vh;
  font-family: 'Anton', sans-serif;
}

.App h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
  margin: 0;
  /* height: 25%; */
  pointer-events: none;
}

.lengths {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 100px;
  width: 100%;
}

#break-Length, #session-Length {
  display: inline-block;
  width: 300px;
}

#break-Length div, #session-Length div, #break-Length button, #session-Length button {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

#break-Length div, #session-Length div {
  padding-bottom: 10px;
}

.minutes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  height: 25%;
}

.buttons {
  height: 25%;
}

.btn-watch {
  margin: 20px 20px 0 20px;
  width: 55px;
  height: 25px;
  background-color: rgb(29, 30, 30);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-watch:hover {
  background-color: rgb(47, 48, 48);
}

.btn-small {
  background-color:  rgb(34, 64, 119);
  color: white;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

.btn-small i {
  height: 30px;
}